



<div class="main  " ng-controller="mainController" ng-cloak>

    <div class="ui container">
        <div class="hero">

        </div>

        <div class="search-bar">
                      <form>
                      <div class="input-wrapper">
                        <input type="text" class="form-control" placeholder="Search..." ng-model="query">
                      </div>

                    </form>
                  </div>
        <div ng-repeat="restaurant in restaurants | filter:query" class="restaurant col-md-5 col-md-offset-1">
              <div class="rest-wrapper">
                  <div class="image">
                      <img ng-src="{{restaurant.image}}" height="100" width="100">
                  </div>
                  <div class="rest-info">

                      <div class="rest-name">
                       <a ng-href="#!/restaurant/{{restaurant.id}}"><strong>{{restaurant.name}}</strong></a>
                      </div>
                      <div>
                        <small>Vision:</small>
                         <strong>{{restaurant.cost}}</strong>
                      </div>
                      <div class="rest-address">
                        <small>Heads:</small><span>{{restaurant.cuisines}}</span>
                      </div>
                  </div>
              </div>
              <div class="rest-extra">
                <button type="button" class="btn btn-danger">Know More</button>
              </div>

          </div>
    </div>
</div>
<style media="screen">
  button{
width: 100%;
background-color: #e55f5f!important;

  }
  .btn-danger {
    color:  white;
    background-color:  #e55f5f!important;
    border-color: #e55f5f!important;
}
</style>
