



<div class="main  " ng-controller="mainController" >
   
    <div class="ui container">
        <div class="hero">
            
        </div>

        <div class="search-bar">
                      <form>
                      <div class="input-wrapper">
                        <input type="text" class="form-control" placeholder="Search..." ng-model="query">
                      </div>
                      
                    </form>
                  </div>
        <div ng-repeat="restaurant in restaurants | filter:query" class="restaurant col-md-5 col-md-offset-1">
              <div class="rest-wrapper">
                  <div class="image">
                      <img ng-src="{{restaurant.image}}" height="100" width="100">
                  </div>
                  <div class="rest-info">
                      
                      <div class="rest-name">
                       <a ng-href="#!/restaurant/{{restaurant.id}}"><strong>{{restaurant.name}}</strong></a>
                      </div>
                      <div>
                         <strong> {{restaurant.location}}</strong>
                      </div>
                      <div class="rest-address">
                          {{restaurant.address}}
                      </div>
                  </div>
              </div>
              <div class="rest-extra">
                  <div class="type">
                      <div><small>Heads:</small><span>{{restaurant.cuisines}}</span></div>
                      <div><small>About: </small><span>{{restaurant.cost }}</span></div>
                      <div><small>Vision:</small><span>{{restaurant.hours}}</span></div>
                  </div>
                  
              </div>
             
          </div>
    </div>
</div>
